* {
    box-sizing: border-box;
    /* font family */
    font-family: 'Quicksand', sans-serif;
}

body {
    margin: 0;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/*estilos de navegación*/

html {
    scroll-behavior: smooth;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0 10% 0 10%;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.8s;
}

li {
    float: left;
    width: 16%;
}

li a {
    display: block;
    font-size: 1.5vw;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    color: gray;
    background-color: black;
}


/*estilos del header*/

.header {
    background-image: url("../img/running1.jpeg");
    background-size: cover;
    background-attachment: fixed;
    padding: 10% 20px;
    text-align: center;
    color: black;
}

.header h1 {
    font-size: 100px;
}


/*Estilos Section 0*/

.three-column {
    float: left;
    width: 33%;
    padding: 2%;
}

.three-column p {
    text-align: center;
    color: black;
    font-weight: bold;
}

.three-column img {
    width: 100%;
}

#section-0 {
    background-color: orange;
    font-size: 2.5vw;
    text-align: center;
}


/*Estilos Section 1 y Section 2*/

.two-column {
    float: left;
    width: 50%;
    padding: 2%;
}

.two-column h1 {
    font-size: 2.5vw;
}

.two-column p {
    font-size: 1.5vw;
}

.two-column img {
    width: 100%;
}

.two-column iframe {
    width: 100%;
}

#foto-padding {
    padding-top: 100%;
}


/*Estilos Section 3*/

.one-column {
    float: left;
    width: 100%;
}

.one-column h1 {
    font-size: 5vw;
    text-align: center;
}

.one-column img {
    width: 100%;
}

.four-column {
    float: left;
    width: 25%;
    padding: 2%;
}

.four-column p {
    text-align: center;
    color: black;
    font-weight: bold;
}

.four-column img {
    width: 100%;
}

#section-3 {
    background-color: bisque;
}


/*Estilos Section-4*/

#section-4 p {
    font-size: 1.5vw;
    text-align: center;
}

#section-4 img {
    width: 100%;
}


/*Estilos Section-5*/

#section-5 {
    background-color: palegoldenrod;
}


/*Estilos Footer*/

#footer {
    background-color: black;
    color: white;
}

#footer h2 {
    font-size: 25px;
    text-align: left;
    color: white
}

#footer p {
    font-size: 20px;
    text-align: left;
    color: white;
}

#footer img {
    width: 10%;
}


/*clases auxiliares*/

.padding-0 {
    padding: 0px;
}

.padding-30 {
    padding-top: 30px;
}


/*Estilos de los tablas*/

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td,
#customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}


/*Estilos Cuenta Atrás*/

#cuenta {
    display: flex;
    justify-content: center;
    padding-bottom: 1%;
    background-color: palegoldenrod;
}

.simply-section {
    width: 180px;
    height: 180px;
    margin: 0 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
}

.simply-amount {
    display: block;
    font-size: 50px;
    font-weight: 700;
}

.simply-word {
    font-weight: 200;
    font-size: 20px;
}


/*Responsive*/

@media screen and (max-width:700px) {
    .two-column {
        width: 100%;
    }
    .four-column {
        width: 100%;
    }
    li a {
        font-size: 10px;
    }
    ul {
        padding: 0px;
    }
    .header h1 {
        font-size: 300%;
    }
    .two-column h1 {
        font-size: 8vw;
    }
    .two-column p {
        font-size: 4.2vw;
    }
    .three-column {
        width: 100%;
    }
    .one-column p {
        font-size: 4vw;
    }
    #section-4 p {
        font-size: 4vw;
    }
    .simply-amount {
        font-size: 8vw;
        padding: 0%, 5%, 0%, 5%;
    }
    #extras {
        width: 100%;
    }
}